.hero-banner-one .hero-heading span::before {
    background: var(--red-one);
}

.hero-banner-fourteen .shape-one {
    margin: -55px 0 0 27px;
    width: 133px;
    height: 79px;
}

.customService-icons{
    padding: 14px;
}

.custom-footer-link li{
    font-size: 16px;
    color: #515151;
    margin-bottom: 16px;
    padding-left: 40px;
    position: relative;
}

.custom-footer-link li.custom-li-link1::before{
    content: url(../images/icon/location.svg);
    position: absolute;
    left: -10px;
    top: 0;
}

.custom-footer-link li.custom-li-link2::before{
    content: url(../images/icon/phone.svg);
    position: absolute;
    left: -10px;
    top: 0;
}

.custom-footer-link li.custom-li-link3::before{
    content: url(../images/icon/email.svg);
    position: absolute;
    left: -10px;
    top: 0;
}

.navbar .dropdown-toggle-custom::after{
    content: "";
}
/* .hero-banner-one .custom-hero-1-illustration-container{
    top: 77px !important;
} */

.hero-banner-one .illustration-container {
    position: absolute;
    right: 0;
    top: 77px;
    z-index: -1;
    max-width: 46%;
}

.vcamp-footer-one .bg-wrapper {
    padding: 70px 0 70px;
    background: #ebebe994;
    position: relative;
    z-index: 5;
}

.theme-menu-two .right-widget .contact-btn:hover{
    background-color: #0a766e;
    border: none;
}

.hero-banner-two{
    height: 900px;
}

.vcamp-text-block-one .shape-two {
    right: 5%;
    bottom: -15% !important;
    animation: jumpThree 5s infinite linear;
}

.vcamp-feature-section-six .text-wrapper p {
    padding-top: 10px;
    margin-bottom: 0;
}

.vcamp-feature-section-six {
    padding: 165px 0 80px;
}

.custom-about-values-icon{
    width: 50px;
    height: 50px;
}

.blog-meta-three {
    padding: 35px 50px 35px;
}

.blog-meta-one.feature-post {
    background: #f0f0f0;
}

.custom-feature-post{
    background: #f0f0f0;
    padding: 30px 50px;
}

.blog-meta-one .custom-title {
    font-family: gorditamedium;
    font-size: 21px;
    line-height: 1.3em;
    color: var(--heading);
    display: block;
    margin: 23px 0 17px;
}

.custom-padding-37{
    padding: 37px;
    background: #fbf3f3;
}

.card-style-three .title {
    font-size: 24px;
    padding: 16px 0 0;
    margin-bottom: 0;
}

.custom-get-quote-section{
    background: #f0f0f096;
    max-width: 1410px;
}


@media screen and (min-width: 992px){
    .navbar .dropdown-menu {
    z-index: 5;
    background-color: #fff;
    border-radius: 0;
    display: block;
    right: 0;
    left: 0;
    padding: 20px 0 25px 25px;
    border: none;
    top: 100%;
    visibility: hidden;
    transform: scale(1 ,0);
    opacity: 0;
    min-width: 300px;
    box-shadow: 0 50px 100px rgba(0,0,0,.12);
    margin: 0;
    transform-origin: 0 0;
    transition: all .3s ease-in-out;
    }
}